body{
    margin: 0;
    padding: 0;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    background-color: blue;
}

.gridsquare {
    border:1px solid black;
    width: 30px;
    height:30px;
}

.highlighted {
    background-color: #00A86B;
}
/* The slider itself */
